<!DOCTYPE html>
<html>
    <head>
       <title></title>
    </head>
    <body>
   <form action = "/login" method="POST">
  <div className="card text-white bg-secondary mt "> 
    <div className="card-header text-center">Login</div> 
     <div className="card-body"> 
            <div className="form-group">
               <input className="form-control" placeholder="Phone" name="phone" />
             </div> 
             
             <!-- <div className="form-group">
                  <input type="password" className="form-control" placeholder="Password Here" name="password"/> 
               </div> -->
            </div> 
             <div className="card-footer"> 
             <button className="btn btn-light form-control" > Submit </button> 
                </div> 

            </div>
         </form>
    </body> 
</html>